.vs/Exercicio/FileContentIndex/4f6fec82-f3df-478a-b13a-3e580872d4c2.vsidx
.vs/Exercicio/FileContentIndex/5adced02-6a28-4964-bdf1-360d7c68aced.vsidx
.vs/Exercicio/FileContentIndex/66eb71b9-6084-49b0-811b-169aee11184a.vsidx
.vs/Exercicio/FileContentIndex/b59df984-53ed-427c-8dc9-dcf13380adc7.vsidx
.vs/Exercicio/v17/.futdcache.v2
.vs/Exercicio/v17/.suo
.vs/ProjectEvaluation/exercicio.metadata.v7.bin
.vs/ProjectEvaluation/exercicio.projects.v7.bin
.vs/Exercicio/v17/.futdcache.v2
.vs/Exercicio/v17/.suo
.vs/ProjectEvaluation/exercicio.metadata.v7.bin
.vs/ProjectEvaluation/exercicio.projects.v7.bin
.vs/Exercicio/v17/.futdcache.v2
.vs/ProjectEvaluation/exercicio.metadata.v7.bin
.vs/ProjectEvaluation/exercicio.projects.v7.bin
.vs/Exercicio/FileContentIndex/a08a2ce5-8cba-4cd7-9a2c-1e67beee0c65.vsidx
.vs/Exercicio/DesignTimeBuild/.dtbcache.v2
.vs/Exercicio/FileContentIndex/0a06a20a-cc25-47e8-a3ae-b807e6e3e8f2.vsidx
Questao1/bin/
Questao2/bin/
Questao3/bin/
Questao4/bin/
Questao5/bin/
Questao1/obj/
Questao2/obj/
Questao3/obj/
Questao4/obj/
Questao5/obj/